body {
    margin: 20px 40px;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  /*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
  .wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
  
  /*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
  .redExample {
    flex: 1;
    background-color: red;
  }
  
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  .blueExample {
    flex: 1;
    background-color: blue;
  }
  
  /*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
  .emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  
.blueExample2 {
    width: 80px;
    background-color: blue;
}
  
/* TODO: Add CSS for the rest of your solution below */


/* ----- 3 ------*/
.redExample3 {
    background-color: red;
    width: 80px;
}

.wrapper_blueExample3 {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
}

.blueExample3 {
    width: 80px;
    background-color: blue;
}

/* ----- 4 ----- */
.redExample4 {
    flex: 1;
    background-color: red;
}

.wrapper-blue4 {
    display: flex;
    flex-direction: row-reverse;
}

.blueExample4 {
    width: 80px;
    background-color: blue;
}

/* ---- 5 ----- */
.wrapper-red5 {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.redExample5 {
    background-color: red;
    height: 35px;
    width: 35px;
}

/* ------ 6 -------- */
.redExampleFirst {
    flex: 1;
    background-color: red;
}

.blueExample6 {
    width: 80px;
    height: 60px;
    background-color: blue;
}

.redExampleSecond {
    flex: 1;
    background-color: red;
}

/* ---- 7 ------ */

.wrapper-7 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.blueExample7First {
    width: 100%;
    height: 33%;
    background-color: blue;
}

.blueExample7Second { 
    width: 100%;
    height: 33%;
    background-color: blue;
}

.redExample7 {
    width: 80px;
    height: 100%;
    background-color: red;
}

/* ----- 8 -------- */

.wrapper-yellow {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.yellowExample {
    background-color: yellow;
    width: 70px;
    height: 100%;
}

/* ------ 9 ------ */

.yellowExample2 {
    width: 18%;
}